.cats {
  // turinio isdestymas
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  // VISU katinu saraso isdestymas,
  .cats-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }
  // vieno katino bendras fonas, sriftas, dydis
  .cat-design {
    box-shadow: 0 0 20px #eee;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    // span dizainas
    span {
      color: #e6fdb0;
    }
    // db dizainas
    .each-cat {
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      color: #ee2098;
    }
    // VIENO katino lenteles pabaiga
  }
  // naujo katino isdestymas
  .general-new-cat {
    display: flex;
    flex-direction: column;
    align-items: center;

    // naujo katino bendras fonas, sriftas, dydis
    .new-cat {
      box-shadow: 0 0 20px #eee;
      border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      justify-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      margin: 20px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      // span dizainas
      span {
        color: #ee2098;
      }
      // lenteles dydis, dizainas ir jame atvaizduojami duomenys is db
      input {
        color: #ee2098;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      // naujo katino lenteles pabaiga
    }
  }
  // modal pozicija
  .general-modal {
    border: 1px solid #fff;
    position: absolute;
    align-items: center;
    top: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./img/img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;

    // modalo bendras fonas, sriftas, dydis
    .each-module {
      box-shadow: 0 0 20px #eee;
      border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      justify-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      margin: 20px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      // span dizainas
      span {
        color: rgb(240, 240, 24);
        padding: 5px;
      }
      // lenteles dydis, dizainas ir jame atvaizduojami duomenys is serverio
      input {
        color: #a55a86;
      }
      // modalo lenteles pabaiga
    }
  }
  // filtro isdestymas
  .general-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    // filtro bendras fonas, sriftas, dydis
    .each-filter {
      box-shadow: 0 0 20px #eee;
      border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
      margin: 20px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      // span dizainas
      span {
        color: #c5178b;
        margin-bottom: 5px;
        font-style: italic;
      }
      // seelcto dizainas
      select {
        background-color: #b5ecf0;
        // option dizainas
        option {
          color: #c5178b;
          font-style: italic;
        }
      }
      // filtro lenteles pabaiga
    }
  }
  // statistikos lenteles isdestymas
  .cats-stats {
    box-shadow: 0 0 20px #eee;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 1px;
    padding: 10px;
    span {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      color: #9733ee;
      margin: 10px;
      i {
        color: #b5ecf0;
        padding: 10px;
      }

      // statistikos lenteles pabaiga
    }
  }
  // zinutes isdestymas
  .cats-message {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    transition: all 0.3s;
    overflow: hidden;
    position: absolute;
    span {
      padding: 5px;
      margin: 5px;
      color: #e6fdb0;
    }
  }
  button {
    background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%);
  }
  button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 1px solid #ffffff;
  }
  button:hover {
    background-position: right center; /* change the direction of the change here*/
    color: #fff;
    text-decoration: none;
  }
}

// RESPONSIVE DESIGN:

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cats {
    .general-modal,
    .each-module,
    .cats-stats,
    .cats-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .cats-list,
  .cat-design,
  .general-new-cat,
  .new-cat,
  .general-filter,
  .each-filter {
    display: flex;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cats {
    .general-modal,
    .each-module,
    .cats-stats,
    .cats-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .cats-list,
  .cat-design,
  .general-new-cat,
  .new-cat,
  .general-filter,
  .each-filter {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cats {
    .general-modal,
    .each-module,
    .general-filter,
    .each-filter,
    .cats-stats,
    .cats-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .cats-list,
  .cat-design,
  .general-new-cat,
  .new-cat {
    display: flex;
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cats {
    .general-modal,
    .each-module,
    .general-filter,
    .each-filter,
    .cats-stats,
    .cats-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .cats-list,
  .cat-design,
  .general-new-cat,
  .new-cat {
    display: flex;
    flex-direction: column;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cats {
    .general-new-cat,
    .new-cat,
    .general-modal,
    .each-module,
    .general-filter,
    .each-filter,
    .cats-stats,
    .cats-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .cats-list,
  .cat-design {
    display: flex;
    flex-direction: column;
  }
}
